# Node
node_modules/
npm-debug.log
yarn-error.log
.expo/

# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Environment Variables
.env
.env.local

# System
.DS_Store
Thumbs.db

# Build
dist/
build/

# Logs
logs/
*.log

# Large Media
*.mp4
*.wav
*.zip
